@font-face {
    font-family: 'silkscreen';
    src: url('../fonts/slkscreb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'silkscreen';
    src: url('../fonts/slkscreb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

* {
    box-sizing: border-box;
    font-family: "silkscreen", monospace;
}

body {
    margin: 0;
    background-color: beige;
    position: relative;

}

.container {
    height: 90vh;
    width: 80vw;
    padding: 3%;
    margin: 0 auto;
}

header {
    margin: 0;
    height: 15vh;
    background-color: #16f2c2;
    font-family: barcade, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section {
    background-color: rgb(239, 239, 134);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

main {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.flex-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60vh;
    width: 90vmin;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 6px;
    border-color: #d90bce;
}

.flex-grid div {
    border-width: 1px;
    height: 6.7%;
    width: 5%;
    padding: 5px;
    background-color: black;
}

.flex-grid div.hero {
    background-image: url("https://i.imgur.com/cqHpfI7s.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-grid div.hero.last-life {
    background-image: url("https://i.imgur.com/pJrsNtDs.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-grid div.enemy {
    background-image: url("https://i.imgur.com/FR1dZjfs.jpg");
    background-size: cover;
}

.flex-grid div.bullet {
    background-image: url("https://i.imgur.com/Y41LoRk.png");
    background-size: cover;
}

.flex-grid div.bomb {
    background-image: url("https://i.imgur.com/DRmAyzJs.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
}

/* GAME OVER */
#game-over-screen {
    display: none;
    position: absolute;
    background-color: rgba(188, 4, 188, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.message-container, .intro-container {
    background-color: beige;
    height: 65vh;
    width: 40vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10vmin;
}

#play-again, #play {
    padding: 10px;
    border: 3px;
    border-style: solid;
    border-color: #d90bce;
    box-shadow: 3px 3px 1px #d90bce;
}

/* INTRO SCREEN */

#intro-screen {
    display: flex;
    position: absolute;
    background-color: rgba(188, 4, 188, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#name{
    width: 30vw;
    height: 5vh;
    border-style: solid;
    border-width: 3px;
    border-color:black;
    background-color: beige;
}

#name-label{
    text-align: center;
}