* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flex-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60vh;
    width: 90vmin;
    border-style: solid;
    border-width: 6px; 
    border-color: #d90bce;
}

.flex-grid div {
    border-width: 1px;
    height: 6.7%;
    width: 5%;
    padding: 5px;
    background-color: black;
}

.flex-grid div.hero {
    background-image: url("https://i.imgur.com/3yO2VP5s.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-grid div.enemy {
    background-image: url("https://i.imgur.com/RIx3xgJs.png");
    background-size: cover;
}

.flex-grid div.bullet {
    background-image: url("https://i.imgur.com/m18ZvyS.png");
    background-size: cover;
}