* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20vmin; */
    /* border-style: solid;
    border-color: black; */
}

.flex-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60vh;
    width: 100vmin;
    border-style: solid;
    border-color: black;
}

.flex-grid div {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(167, 170, 167);
    height: 6%;
    width: 5%;
    padding: 5px;
}

.flex-grid div.hero {
    background-color: red;
}

.flex-grid div.enemy {
    background-color: blue;
}

.flex-grid div.bullet {
    background-color: blueviolet;
}